/* Add CSS Styling */
.container{
    background-color: rgb(100,69,70);
    font-family: Verdana, "DejaVu Sans", sans-serif;

}
#second{
    color:#0000ff;
    font-size: 36px;
}
#third{
    font-size: 24px;
}
#fouth{
    background-color: hsl(120, 74%, 42%);
    font-size:24px;
    font-weight: bold;
}